/*div{border: 1px solid blue;}
a{border: 1px solid red;}
i{border: 1px solid green;}
span{border: 1px solid yellow;}
img{border: 1px solid pink;}
hr{border: 1px solid orange;}
/*p{border: 1px solid purple;}
ul{border: 1px solid gray;}
li{border: 1px solid teal;}
button{border: 1px solid brown;}
svg{border: 1px solid turquoise;}
form{border: 1px solid violet;}
h1{border: 1px solid darkgray;}
nav{border: 1px solid peach;}
/*h4{border:1px solid red;}*/
