.MessageForm {
  display:flex;
  align-items: baseline;
  border: 1px solid rgba(221, 221, 221, 0.9);
  margin-right: 15px;
  margin-left: 15px;
  border-radius: 5px;
}

.CommentBox{
  padding-left: 15px;
  padding-right: 15px;
}

.MessageForm-text {
  padding:5px;
  margin-top:0px;
  width:100%;
  color:#2F4858;
  font-weight:bold;
  resize:none;
  border-radius: 5px;
}
