.Message-box {
  text-align: left;
  padding-left: 20px;
}

.Message-title {
  display:flex;
  text-align: center;
  align-items: baseline;
}
.Message-text {
  margin:0;
}

.Message-time {
  font-weight:light;
  color:#9e9e9e;
  font-size:15px;
  margin:0;
  margin-left:10px;
}

.Message-name {
  margin:0;
}
