.MessageForm {
  display: flex;
  height:7vh;
  border: 1px solid rgba(221, 221, 221, 0.9);
  border-radius: 5px;
  margin-top:5px;
  margin-left:10px;
  margin-right: 10px;
}

.CommentBox{

padding-left: 10px;
}

.MessageForm-text {
  padding:5px;
  width:100%;
  color:#2F4858;
  font-weight:bold;
  resize:none;
  border-radius: 5px;
}
